<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script type="text/javascript" src = '/static/main.js'></script>
        <link rel = 'stylesheet' href = '/static/main.css'>
        <link rel="manifest" href="/static/manifest.webmanifest">
    </head>
    <body class = 'bg2'>

        <div id = 'logo_frame'>Reverse Vending Machine - 재활용 잘허니</div>
        
        <div id = 'message_frame'>
            <div id = 'message_content'></div>
            <canvas id = 'photo_frame' width="1280", height="720"></canvas>
            <div id = 'force_yes_button' style = 'display: none;'></div>
            <div id = 'force_no_button' style = 'display: none;'></div>
        </div>

        <div id = 'start_button'></div>
        <div id = 'end_button' style = 'display: none;'></div>
        <div id = 'can_button'></div>
        <div id = 'pet_button'></div>

        <div id = 'count_frame'>
            <div id = 'count_can_frame'>
                <span id = 'current_can'>0</span>
                <span >개</span>
            </div>
            <div id = 'count_pet_frame'>
                <span id = 'current_pet'>0</span>
                <span >개</span>
            </div>
        </div>

        

        <div id = 'imgbox'></div>
        
    </body>

</html>